autopep8
numpy
openpyxl
pandas
pylint
pyodbc
scipy
sqlalchemy
virtualenv
requests==2.22.0
requests-oauthlib==1
reliability
setuptools
matplotlib
seaborn
statsmodels
pyarrow
scikit-learn
python-power-bi